extends layout

block content

  a(href="/files/read") to full list

  p reading #{name}

  p #{data}

    if currentuser 
      form(action="/files/del/#{name}", method="post")
        input(type="submit" value="del") 

      form(action="/files/edit/#{name}", method="get")
        input(type="submit" value="edit")
  //- <a href="/files/edit/#{name}" class="button"> edit